body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .file-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .classify-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .classify-button:hover {
    background-color: #45a049;
  }
  
  .image-container {
    text-align: center;
  }
  
  .input-image {
    max-width: 100%;
  }
  
  .prediction-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .prediction-text {
    font-size: 18px;
  }
  
  .prediction-result {
    font-weight: bold;
    color: #4CAF50;
  }